<div class="m-b clearfix">
    <button type="button" class="btn btn-default" ng-click="vm.addLesson()"><i class="icon-folder m-r"></i>Add a lesson</button>
      <button type="button" class="btn btn-default" ng-click="vm.login()"><i class="icon-folder m-r"></i>Login</button>
    <div class="pull-right">
      <div class="btn-group dropdown" uib-dropdown="">
        <button type="button" class="btn btn-default uib-dropdown-toggle dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">Filter
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu="" role="menu">
          <li>
            <a href="javascript:;">Completed</a>
          </li>
          <li>
            <a href="javascript:;">Pending</a>
          </li>
          <li>
            <a href="javascript:;">Rejected</a>
          </li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-default">
          <i class="icon-arrow-left"></i>
        </button>
        <button type="button" class="btn btn-default">
          <i class="icon-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-deck-wrapper">

            <div class="col-sm-4" ng-repeat="lesson in vm.lessons">
                <div class="card">
                    <img class="card-img-top img-responsive" data-ng-src="{{lesson.thumbnail}}" alt="Card image">
                    <div class="card-block">
                        <h4 class="card-title">{{lesson.title}}</h4>
                        <p class="card-text">{{lesson.description}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="javascript:;" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
